.right-side {
    background-color: rgb(82, 73, 73);
    width:20%;
    height: 100vh;
}

.right-side .record-time {
    height: 70px;
    display: flex;
    justify-content: space-between;
}
.right-side .record-time .timer {
    font-size: 41px;
    color: rgb(122, 113, 113);
    position: relative;
    top: 8px;
    left: 14px;
}
.right-side .record-time .clock-icon {
    color: rgb(122, 113, 113);
    position: relative;
    top: 23px;
    left: 24px;
    cursor: pointer;
}
.right-side .record-time .clock-icon i {
    font-size: 20px;
}
.right-side .record-time .options-i {
    color: rgb(122, 113, 113);
    position: relative;
    top: 20px;
    right: 18px;
    cursor: pointer;
}

/* ---------------------------------------------------------------------------------- */

.right-side .record-controls {
    border-top: 1px solid rgb(122, 113, 113);
    height: 10%;
    width: 88%;
    position: relative;
    left: 20px;
    display: flex;
    justify-content: space-between;
}
.right-side .record-controls .play {
    color:  white;
    cursor: pointer;
    position: relative;
    top: 14px;
    left: -5px;
}

.right-side .record-controls .stop {
    color: white;
    cursor: pointer;
    position: relative;
    top: 14px;
    right: 7px;
}

.right-side .record-controls .rec-state {
    color: rgb(150, 46, 46);
    position: relative;
    top: 14px;
    right: 7px;
}

.right-side .record-controls .rec-state .r-lbl {
    position: relative;
    bottom: 7px;
    font-weight: bold;
}

.right-side .record-controls .tempo {
    position: relative;
    top: 14px;
    color: rgb(122, 113, 113);
}
.right-side .record-controls .tempo .t-nr {
    color: white;
    position: relative;
    left: 10px;
}
.right-side .record-controls .tempo .change-tempo i:first-child {
    position: relative;
    left: 10px;
    bottom: 3px;
    color: white;
    font-size: 17px;


}
.right-side .record-controls .tempo .change-tempo i:nth-child(2) {
    position: relative;
    color: white;
    top: 12px;
    right: 11px;
    font-size: 17px;
}

/* ---------------------------------------------------------------------------------- */

.right-side .channels {
    color: rgb(122, 113, 113);
    display: flex;
    flex-direction: column;
    height: 26%;
    position: relative;
    bottom: 15px;
}

.right-side .channels h3 {
  
    border-top: 1px solid rgb(122, 113, 113);
    width: 88%;
    position: relative;
    left: 20px;
    padding-top: 10px;
    
}
.right-side .channels h3 i {
    position: relative;
    top:5px;
    left: 50%;
    font-size: 20px;
    font-weight: bold;
    
}
.right-side .channels .ch1 {
    position: relative;
    top: 10px;
    left: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.right-side .channels .ch1 i {
    font-size: 30px;
}
.right-side .channels .ch1 .ch-name {
    position: relative;
    right: 45px;
    top: 5px;
    color: white;
}
.right-side .channels .ch1 .opts-i {
    position: relative;
    right: 10px;
}
.right-side .channels .ch1 .opts-i i {
    font-size: 20px;
    position: relative;
    right: 2px;
}

.right-side .effects-visualizer {
    width: 88%;
    height: 38%;
    position: relative;
    bottom: 20px;
}

.right-side .effects-visualizer h3 {
    border-top: 1px solid rgb(122, 113, 113);
    position: relative;
    left: 20px;
    padding-top: 14px;
    color: rgb(122, 113, 113);
}
.right-side .effects-visualizer h3 i {
    position: relative;
    top: 5px;
    left: 12%;
    font-size: 20px;
    font-weight: bold;
}
.right-side .effects-visualizer .visualizer {
    border: 1px solid black;
    background-color: rgb(49, 42, 42);
    width: 97%;
    position: relative;
    top: 20px;
    left: 20px;
    height: 60%;
}

.right-side .export {
    height: 16%;
    position: relative;
    bottom: 60px;
    width: 93%;
}
.right-side .export h3 {
    display: flex;
    justify-content: space-between;
    color: rgb(122, 113, 113);
    position: relative;
    left: 20px;
    margin-bottom: 20px;
}
.right-side .export h3 i {
    position: relative;
    right: 20px;
}
.right-side .export .save-path {
    position: relative;
    bottom: 20px;
    left: 20px;
    width: 92%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(48, 40, 40);
}
.right-side .export .save-path i{
    position: relative;
    top: 7px;
    left: 5px;
    color: rgb(122, 113, 113);
}

.right-side .export .save-path span {
    position: relative;
    top: 11px;
    right: 170px;
    font-weight: bold;
    color: rgb(122, 113, 113);
}

/* ------------------------------------------------------------------------------------------------------- */

.right-side .export .format {
    display: flex;
    justify-content: space-between;
    background-color: rgb(48, 40, 40);
    height: 40px;
    width: 68%;
    position: relative;
    bottom: 10px;
    left: 20px;
}
.right-side .export .format  i:first-child {
    color: rgb(122, 113, 113);
    position: relative;
    top: 7px;
    left: 4px;
}
.right-side .export .format span {
    color: rgb(122, 113, 113);
    position: relative;
    top: 10px;
    right: 40px;
    font-weight: bold;
}
.right-side .export .format i:nth-child(3) {
    color: rgb(122, 113, 113);
    position: relative;
    top: 10px;
    right: 9px;
    font-size: 20px;
    font-weight: bold;
}

.right-side .export .save-export {
    width: 92%;
    height: 40px;
    background-color:  rgb(206, 91, 91);
    border: none;
    color:white;
    font-size: 14px;
    position: relative;
    left: 20px;
    cursor: pointer;
}
